*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: teal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  padding: 5px 0;
}

label {
  color: teal;
  margin-bottom: 10px;
}

.palindrome {
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
  width: min(110vw, 450px);
  min-height: 100px;
}

.check-btn {
  width: 90px;
  border: none;
  padding: 10px;
  border-radius: 15px;
  background-color: teal;
  color: white;
  cursor: pointer;
}

.palindrome-input {
  height: 30px;
  width: 250px;
  text-align: center;
  margin: 10px;
  border: none;
  border-bottom: 2px solid teal;
}

.results-div {
  overflow-y: auto;
  word-wrap: break-word;
  min-height: 50px;
  color: black;
}

.hidden {
  display: none;
}
